body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

header {
	background-color: blue;
	color: #b37c7c;
	padding: 20px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 20px;
}

section h2 {
	font-size: 24px;
	color: #333;
}

section p {
	line-height: 1.5;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}
